<html>
    <head>
        <title>Home</title>
    </head>
    <h1>Home</h1>
    <body>
        <div>
            <button><a href="{{ url_for('view') }}">Click to see the List of pets</a></button>
            <button><a href="{{ url_for('add') }}">Click here to add</a></button>
	    <button><a href="{{ url_for('update') }}">Click here to edit</a></button>
	    <button><a href="{{ url_for('delete') }}">Click here to delete your input</a></button>
            <p>Welcome</p>
        </div>
        <div>
            <p>
                {{message}}
            </p>
        </div>
    </body>
</html>



